[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"
jsonschema = "*"

[packages]
scrapy = "*"
numpy = "*"
cdx_toolkit = "*"
beautifulsoup4 = "*"
python-arango = "*"
scrapy-kafka-export = "*"
scrapy-crawl-once = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "bash -c \"scripts/run_linter.sh\""
