[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
scrapy = "*"
numpy = "*"
warcio = "*"
cdx_toolkit = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "bash -c \"scripts/run_linter.sh\""
